<!--これを埋め込むときは表示するユーザ情報を渡してあげる必要がある-->
<!--コントローラーからできてるか注意-->
<div>
  <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg" %>
  <%= user.name %>
  <%= user.introduction %>

  <% if user == current_user %>
    <%= link_to "Edit", edit_user_path(user.id) %>
  <% else %>
    <%= link_to "Edit", user_path(current_user.id) %>
  <% end %>
</div>
