<% if @book.errors.any? %>
    <%= @book.errors.count %>error prohibited this obj from being saved:</br>
    <% @book.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
 <% end %>

<h1>Books#index</h1>

<%= render 'users/userinfo', user: current_user %>
<%= render 'books/new', book: @book %>
<%= render 'books/list', books: @books %>